
body {
    background-color: rgb(100, 100, 99);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* header container */
header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: lightblue;
    width: 100%;
}

header a {
    margin-top: 15px;
}


/* inner container */

#container {
    margin: auto;
    width: 50%;
    margin-top: 100px;
    background-color: lightslategray;
    height: 400px;
    display: flex; 
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

#beginning {
    display: flex;
    flex-direction: column;
}

#start {
    width: fit-content;
    height: 100px;
    justify-self: center;
    align-self: center;
    font-size: large;
}


#questions {
    display: none;
    flex-direction: column;
}


#save-score {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

form {
    padding: 20px;
}






/* high Scores */

#back {
    font-size: large;
    justify-self: center;
    align-self: center;
}